.consys-ad {
	background-color: #F9EDBE;
	border: 1px solid #F0C36D;
	margin: 3px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/*overflow: hidden;*/
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	/*	
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	*/
}

.consys-ad-content {
	position: absolute;
	margin: 20px;
}

.consys-ad-move {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #F0C36D;
	cursor: move;
}

.consys-scrollbar-track {
	top: 20px;
	left: 165px;
	width: 10px;
	height: 60px;
	position: absolute;
	background-color: #EEE;
	cursor: pointer;
}

.consys-scrollbar-handle {
	position: absolute;
	width: 10px;
	height: 30px;
	background-color: #CCC;
}
